{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Новый пост{% endblock title %}

{% block content %}
<div class="stk-post">

<h3>Добавить проблему</h3>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{  form|crispy   }}
    <button type="submit" value="Добавить" class="btn btn-dark">Добавить</button>
    <input class="btn btn-dark" type="button" value="Вернуться назад" onclick="location.href='{% url 'admin_page' %}'">

</form>
</div>

{% endblock content %}