[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
psycopg2-binary = "*"
django-extensions = "*"
factory-boy = "*"
ipython = "*"
django-heroku = "*"


[requires]
python_version = "3.8"
