aioredis==1.3.1
altgraph==0.17
amqp==2.6.0
aniso8601==7.0.0
appdirs==1.4.4
arcade==2.3.10
asgi-redis==1.4.3
asgiref==3.2.10
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==20.2.0
autobahn==20.6.2
Automat==20.2.0
automium==0.2.6
automium-web==0.1.1
Babel==2.8.0
backcall==0.2.0
base==1.0.4
bcrypt==3.1.7
beautifulsoup4==4.9.2
billiard==3.6.3.0
bleach==3.1.4
bootstrap4==0.1.0
bootstraps==1.0.1
boto3==1.14.22
botocore==1.17.22
braintree==4.2.0
bs4==0.0.1
cached-property==1.5.1
cachetools==4.1.1
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.4.6
certifi==2020.6.20
cffi==1.14.0
channels==2.4.0
channels-redis==3.0.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
confusable-homoglyphs==3.2.0
constantly==15.1.0
cryptography==2.9.2
cssselect2==0.3.0
cycler==0.10.0
daphne==2.5.0
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
dj-email-url==1.0.1
Django==3.1.1
django-allauth==0.42.0
django-appconf==1.0.4
django-bootstrap4==2.2.0
django-cache-url==3.1.2
django-cleanup==5.0.0
django-countries==6.1.2
django-crispy-forms==1.9.2
django-extensions==3.0.9
django-filter==2.3.0
django-heroku==0.3.1
django-js-asset==1.2.2
django-measurement==3.2.3
django-mptt==0.11.0
django-passreset==0.3
django-phonenumber-field==4.0.0
django-prices==2.2.0
django-prices-openexchangerates==1.1.0
django-prices-vatlayer==1.1.0
django-registration==3.1.1
django-registration-redux==2.8
django-render-block==0.7
django-storages==1.9.1
django-templated-email==2.3.0
django-templated-mail==1.1.1
django-versatileimagefield==2.0
djangorestframework==3.11.0
djoser==2.0.3
docker==4.2.2
docker-compose==1.26.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
draftjs-sanitizer==1.0.0
enmerkar==0.7.1
entrypoints==0.3
et-xmlfile==1.0.1
factory-boy==3.0.1
fake-factory==0.7.4
Faker==4.1.3
filelock==3.0.12
Flask==1.1.1
freezegun==0.3.15
future==0.18.2
generic==1.0.0
geographiclib==1.50
geopy==1.21.0
google-api-core==1.21.0
google-auth==1.19.1
google-cloud-core==1.3.0
google-cloud-storage==1.29.0
google-i18n-address==2.3.5
google-measurement-protocol==1.0.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
graphene==2.1.8
graphene-django==2.12.1
graphene-federation==0.1.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.0.4
hiredis==1.0.1
html-to-draftjs==1.0.1
html5lib==1.1
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
ipykernel==5.2.1
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
itsdangerous==1.1.0
jaeger-client==4.3.0
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.1
jmespath==0.10.0
jsonfield==3.1.0
jsonschema==3.2.0
jupyter-client==6.1.3
jupyter-core==4.6.3
kiwisolver==1.1.0
kombu==4.6.11
lazy-object-proxy==1.4.3
legacy==0.1.6
lxml==4.5.2
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.0
maxminddb==1.5.4
maxminddb-geolite2==2018.703
mccabe==0.6.1
measurement==3.2.0
mistune==0.8.4
more-itertools==8.2.0
mpmath==1.1.0
msgpack==1.0.0
msgpack-python==0.5.6
nbconvert==5.6.1
nbformat==5.0.6
networkx==2.4
notebook==6.0.3
numpy==1.18.1
oauthlib==3.1.0
objects==0.3.1
openpyexcel==2.5.14
openpyxl==3.0.4
opentracing==2.3.0
packaging==20.3
pandas==1.0.5
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.7.1
pbkdf2==1.3
peewee==3.13.2
pefile==2019.4.18
phonenumberslite==8.12.6
pickleshare==0.7.5
Pillow==7.2.0
pip-tools==5.2.1
pipenv==2020.6.2
pluggy==0.13.1
postgres==3.0.0
prices==1.0.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.7
protobuf==3.12.2
psycopg2==2.8.6
psycopg2-binary==2.8.6
psycopg2-pool==1.1
purl==1.5
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
pyglet==1.5.2
Pygments==2.7.1
PyHamcrest==2.0.2
PyInstaller==3.6
PyJWT==1.7.1
pylint==2.5.3
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.6
Pyphen==0.9.5
pypiwin32==223
PyQt5==5.13.2
PyQt5-sip==12.7.1
pyqt5-tools==5.13.2.1.6rc1
PyQt5Designer==5.14.1
pyrsistent==0.16.0
pyTelegramBotAPI==3.6.7
pytest==5.4.1
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.14.0
python-json-logger==0.1.11
python-magic==0.4.18
python3-openid==3.2.0
pytiled-parser==0.9.3
pytimeparse==1.1.8
pytz==2020.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
razorpay==1.2.0
redis==3.5.3
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
Rx==1.6.1
s3transfer==0.3.3
scapy==2.4.3
selenium==3.141.0
self==0.0.0
Send2Trash==1.5.0
sentry-sdk==0.16.1
service-identity==18.1.0
singledispatch==3.4.0.3
six==1.15.0
somewhere==0.0.1
soupsieve==2.0.1
sqlite-web==0.3.6
sqlparse==0.3.1
stripe==2.50.0
sympy==1.6.1
telebot==0.0.3
telebot-calendar==1.1
telebotapi==3.6.8
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
texttable==1.6.2
threadloop==1.0.2
thrift==0.13.0
tinycss2==1.0.2
toml==0.10.1
tornado==6.0.4
tqdm==4.48.0
traitlets==5.0.4
Twisted==20.3.0
txaio==20.4.1
typing==3.7.4.3
Unidecode==1.1.1
urllib3==1.25.10
views==0.3
vine==1.3.0
virtualenv==20.0.27
virtualenv-clone==0.5.4
wcwidth==0.2.5
WeasyPrint==51
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.0
whitenoise==5.2.0
wifi==0.3.8
wrapt==1.12.1
xlrd==1.2.0
xlwt==1.3.0
zope.interface==5.1.0
