
<nav aria-label="Page navigation example">

  <ul class="p-3 pagination justify-content-center">
        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number }}">{{ i }}</a></li>
        {% else %}
      <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
        {% endfor %}


  </ul>


</nav>
<span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

