{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Страница администратора{% endblock title %}

{% block content %}

    <style>

        table {
            width: 1500px; /* Ширина таблицы */
            margin: auto; /* Выравниваем таблицу по центру */
        }

        td, th {
            border: 2px solid green; /* Рамка вокруг таблицы */
            text-align: center; /* Выравниваем текст по центру ячейки */
        }
        input.btn.btn-dark {
 float: right;
}
input.btn-dark {
 float: top;
}
    </style>
<div class="main-container">

    <h3 class="text-md-center">Список зарегистрированных пользователей:</h3>

    <form>
        {% csrf_token %}
        {{ crispy }}
        <div class="table-responsive-lg">
            <table class="table table-hover table-dark" style="background-color: #16181b ">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Пользователь</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Электронная почта</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Админ</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Дата регистрации</th>
                    <th scope="col">Расширить права</th>
                    <th scope="col">Удалить пользователя</th>

                </tr>
                {% for user in customuser_list %}

                    <tr>
                        <td>{{ user.pk }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.department }}</td>
                        <td>{{ user.is_staff }} </td>
                        <td>{{ user.is_active }}</td>
                        <td>{{ user.date_joined }}</td>
                        <td><input class="btn-dark" type="button" value="Изменить" onclick="location.href='{% url 'admin_update_users' user.pk %}'"></td>
                        <td><input class="btn-dark" type="button" value="Удалить" onclick="location.href='{% url 'admin_delete_users' user.pk %}'"></td>

                    </tr>

                {% endfor %}

                </thead>

            </table>


        </div>

    </form>
   <input class="btn btn-dark" type="button" value="Создать нового пользователя" onclick="location.href='{% url 'admin_create_users' %}'">

</div>

{% endblock content %}