{% extends 'base.html' %}



{% load crispy_forms_tags %}

{% block title %}Удаление файла{% endblock title %}

{% block content %}


<h1>Удаление файла!</h1>
<form action="" method="POST">
    {% csrf_token %}
    {{ crispy }}

    <p>Вы уверены,что хотите удалить файл "{{ uploadfilemodel.title }}"?</p>

    <button class="btn btn-dark" type="submit" >Удалить</button>
    <input class="btn btn-dark" type="button" value="Вернуться назад" onclick="location.href='{% url 'files_list' %}'">
</form>

{% endblock content %}