{% load static %}
<!Doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
    <link rel = "icon" href = "{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %} Experts community {% endblock title %}</title>
</head>

<button onclick="topFunction()" id="myBtn" title="Go to top">Вверх</button>


<body>

<div>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark ">
        <a class="navbar-left" href="{% url 'home' %}"><img class="img-responsive" src="/static/img/logo.png"
                                             style="max-width:130px;"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_superuser or  user.is_staff %}
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input class="btn btn-dark" type="button" value="Форма загрузки файла"
                           onclick="location.href='{% url 'file_upload' %}'">
                    <input class="btn btn-dark" type="button" value="Список загруженных файлов"
                           onclick="location.href='{% url 'files_list' %}'">
                    <input class="btn btn-dark" type="button" value="Создать новый пост"
                           onclick="location.href='{% url 'create_post' %}'">
                    <input class="btn btn-dark" type="button" value="Список постов"
                           onclick="location.href='{% url 'list_posts' %}'">
                     <input class="btn btn-dark" type="button" value="Общий чат"
                           onclick="location.href='{% url 'chat' %}'">

                </div>

            </div>

                <form class="form-inline mt-2 mt-md-0" action="{% url 'search_results' %}"
                      method="get">
                    <input name="q" class="form-control mr-sm-2" type="text" placeholder="Поиск пользователя"
                           aria-label="Поиск">
                </form>

            <ul class="navbar-nav ml-auto ">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" id="userMenu"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">

                        {{ user }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="userMenu">
                        <a class="dropdown-item"
                           href="{% url 'password_change' %}">Изменить пароль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            Выйти</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'admin_page' %}">
                            Страница администратора</a>
                    </div>

                </li>
            </ul>

        {% elif user.is_authenticated %}
            <input class="btn btn-dark" type="button" value="Форма загрузки файла"
                   onclick="location.href='{% url 'file_upload' %}'">
            <input class="btn btn-dark" type="button" value="Список загруженных файлов"
                   onclick="location.href='{% url 'files_list' %}'">
            <input class="btn btn-dark" type="button" value="Создать новый пост"
                   onclick="location.href='{% url 'create_post'  %}'">
            <input class="btn btn-dark" type="button" value="Список постов"
                   onclick="location.href='{% url 'list_posts' %}'">
             <input class="btn btn-dark" type="button" value="Общий чат"
                           onclick="location.href='{% url 'chat' %}'">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="userMenu"
                       data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">

                        {{ user }}

                    </a>
                    <div class="dropdown-menu dropdown-menu-right"
                         aria-labelledby="userMenu">
                        <a class="dropdown-item"
                           href="{% url 'password_change' %}">Изменить пароль</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">
                            Выйти</a>

                    </div>
                </li>
            </ul>



        {% else %}

            <div class="ml-auto">
                <a href="{% url 'login' %}" class="btn btn-outline-secondary">
                    Войти</a>
                <a href="{% url 'signup' %}" class="btn btn-primary ml-2">
                    Зарегистрироваться</a>
            </div>
        {% endif %}

    </nav>
</div>
<br>
    <div class="container md-3 center">
        <div class="container-md-3 ">
            <div class="bg-dark text-white">
                {% block content %}

                {% endblock content %}
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbB\
JiSnjAK/
l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</div>
</body>

</html>